<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdGSs9mOiY9nv450vL7nnZ4s8tYHz8-vA</string>
	<key>GCM_SENDER_ID</key>
	<string>638684765228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juliotati.anime</string>
	<key>PROJECT_ID</key>
	<string>aniwavewatchlist</string>
	<key>STORAGE_BUCKET</key>
	<string>aniwavewatchlist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638684765228:ios:800b35a7095495a6f30589</string>
</dict>
</plist>
